In [33]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [34]:
# Call the function.
say_hello()

Hello!

In [35]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [36]:
# Call the function.
say_something("Hello World")

Hello World

In [37]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [38]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [39]:
passing_math_count = 29370
total_student_count = 39170

In [40]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [41]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [42]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [43]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [44]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [45]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [46]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [53]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined

In [48]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

NameError: name 'district_summary_df' is not defined

In [51]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

NameError: name 'district_summary_df' is not defined

In [ ]:
# 4.7.8